* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

nav,
.hero,
.footer {
    padding-left: 250px;
    padding-right: 250px;
    background-color: #1f2937;
}

.hero,
.info,
.quote,
.action {
    height: 450px;
}

.home-nav {
    display: flex;
    align-items: baseline;
    list-style-type: none;
    gap: 12px;
    color: #e5e7eb;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

a {
    /* Override the default link styling */
    color: inherit;
    text-decoration: none;
}

.home {
    margin-right: auto;
    font-size: 24px;
    font-weight: 500;
    color: #f9faf8;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 12px;
}

.hero-main {
    color: #f9faf8;
}

.hero-subtitle {
    color: #e5e7eb;
}

.hero-button {
    text-align: center;
    font-weight: 400;
    padding: 12px 24px;
    width: 150px;
    border-radius: 7px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-imgs {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    gap: 18px;
}

.info-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.img-container {
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 12px;
    align-items: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.info-img p {
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #e5e7eb;
}

.quote #sauna {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
}

.action .card {
    display: flex;
    align-items: center;
    gap: 48px;
    height: 125px;
    padding: 12px 48px;
    border-radius: 8px;
    background-color: #3882f6;
}

.card .action-text h3 {
    color: #f9faf8;
}

.card .action-text p {
    color: #e5e7eb;
}

.card button {
    text-align: center;
    font-weight: 400;
    padding: 12px 24px;
    width: 150px;
    border: 2px solid;
    border-radius: 7px;
    background-color: #3882f6;
    color: #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-size: 16px;
    padding-top: 36px;
    padding-bottom: 36px;
}