* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.home-page {
    padding: 24px;
    background-color: #1f2937;
}

ul {
    display: flex;
    align-items: baseline;
    list-style-type: none;
    gap: 12px;
    font-family: Roboto;
    color: #e5e7eb;
    font-size: 18px;
}

ul a {
    /* Override the default link styling */
    color: inherit;
    text-decoration: none;
}

.home {
    margin-right: auto;
    font-size: 24px;
    font-weight: 500;
    color: #f9faf8;
}